/.dart_tool/
/.idea/
/build/
/.vscode/

/.flutter-plugins
/.flutter-plugins-dependencies
/.packages
/ios/Podfile
/pubspec.lock
*.hprof

# Proyectos anidados temporales
/tempfix/functions/.env
functions/node_modules/
